@model Blog.Models.Tag[]

@{
    ViewBag.Title = "Tags";
}

<div class="container">
    <div class="well">
        <p>
            @foreach (var tag in Model)
            {
                <span class="btn btn-link">@Html.ActionLink(@tag.Name, "List", "Article", new { @tagId = tag.Id }, null)</span>
            }
        </p>
    </div>
</div>
