@model Blog.Models.ArticleListViewModel
@{
    ViewBag.Title = "Search";
}

<div class="container">
    <div class="well">
        @using (Html.BeginForm("Search", "Article", FormMethod.Post, new { @class = "form-horizontal" }))
        {

            if (Model.NotFound)
            {
                <span class="text-danger">Nothing Found. Please try another search terms</span>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.SearchKey, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.SearchKey, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("See All", "List", "Article", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>
