<header  th:fragment="header">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">SOFTUNI BLOG</a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/article/create}">
                            Create Article
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile}">
                            My Profile
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">
                            Logout
                        </a>
                    </li>

                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/register}">
                            REGISTER
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">
                            LOGIN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>